<!-- About-->
<section class="page-section bg-primary" id="about">
    <div class="text-center align-self-end">
        <h1 class="text-uppercase text-white font-weight-bold">Carte des PMI en France</h1>
        <p>
            Pour trouver votre PMI, zoomez sur la carte et cliquez sur les icones affichées
        </p>
        <p>
            Vous aurez alors accès à l'adresse et les coordonnées du centre de PMI selectionné
        </p>
        <hr class="divider my-4" />
    </div>
    <div class="container">
        <div class="map-responsive">
            <iframe src="https://www.google.com/maps/d/embed?mid=1Tk89ON7837zMZGoJsHIQbCOb87AzbKAX&hl=fr"></iframe>
        </div>
    </div>
</section>