
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Votre PMI</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto my-2 my-lg-0">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">Carte des PMI</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contribute">Contribuer</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">Nous contacter</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Masthead-->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold">Trouver le service de PMI le plus proche de vous</h1>
                <hr class="divider my-4" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="https://www.nos-services.com/pmi">C'est quoi la PMI ?</a>
            </div>

            <div class="navbar navbar-expand-sm bg-dark navbar-dark">
                <input [(ngModel)]="queryUser" class="form-control mr-sm-2" type="text" placeholder="Entrez ici votre numéro de département"> <br>
                <a class="btn btn-primary btn-xl js-scroll-trigger" (click)="searchPMI()">Trouver mon service de PMI</a>
            </div>
        </div>
    </div>
</header>



  <section class="page-section bg-primary" id="about" *ngIf="queryProposed">
    <div class="text-center align-self-end cards" *ngFor="let contact of resultQuery">
        <div class="card">
            <h1>{{contact['Ville']}}</h1>
            <p class="title">{{contact['Adresse']}}</p>
            <p>{{contact['"Téléphone PMI']}}</p>
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <p><button>Contact</button></p>
          </div>
    </div>
</section>


<!-- About-->
<section class="page-section bg-primary" id="about">
    <div class="text-center align-self-end">
        <h1 class="text-uppercase text-white font-weight-bold">Carte des PMI en France</h1>
        <p>
            Pour trouver votre PMI, zoomez sur la carte et cliquez sur les icones affichées
        </p>
        <p>
            Vous aurez alors accès à l'adresse et les coordonnées du centre de PMI selectionné
        </p>
        <hr class="divider my-4" />
    </div>
    <div class="container">
        <div class="map-responsive">
            <iframe src="https://www.google.com/maps/d/embed?mid=1Tk89ON7837zMZGoJsHIQbCOb87AzbKAX&hl=fr"></iframe>
        </div>
    </div>
</section>


<!-- Call to action-->
<section class="page-section bg-dark text-white" id="contribute">
    <div class="container text-center">
        <h2 class="mb-4">L'initiative Open PMI est une initiative collaborative</h2>
        <h4>Si vous souhaitez aider à la construction de cette plateforme rendez-vous sur le répertoire ouvert</h4>
        <br>
        <a class="btn btn-light btn-xl" href="https://github.com/victorherbemontagne/Open-PMI">Contribuer à Open PMI</a>
    </div>
    <hr class="divider my-4" />
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="mt-0">Vous souhaitez proposer une modification ou un ajout d'un centre de PMI</h2>
                <hr class="divider my-4" />
                <a class="btn btn-light btn-xl" *ngIf="!showForm" (click)="showForm = !showForm">Cliquez ici</a>
                <a class="btn btn-light btn-xl" *ngIf="showForm" (click)="showForm = !showForm">Cacher le formulaire</a>
            </div>
        </div>
        <div class="row justify-content-center formulaire" *ngIf="showForm" >
            <div class="col-lg-8 text-center">
                    <label for="fname">Votre nom</label>
                    <input [(ngModel)]="nameUser" type="text" id="fname" name="firstname" placeholder="Votre nom..">

                    <label for="fname">Votre email (pour que nous puissions vous contacter)</label>
                    <input [(ngModel)]="emailUser" type="email" id="fname" name="email" placeholder="Votre email">

                    <h2>
                        Le Centre de PMI
                    </h2>
                    
                    <label for="fname">Département</label> <br>
                    <span>exemple: 92210</span>
                    <input [(ngModel)]="deptNumber" type="text" id="postal" name="deptNumber" placeholder="Code postal du centre..">

                    <label for="fname">Adresse du centre</label><br>
                    <span>exemple: 27 rue de la Poste</span>
                    <input [(ngModel)]="adress" type="text" id="adress" name="adress" placeholder="Adresse du centre..">

                    <label for="fname">Numéro de téléphone du centre</label><br>
                    <span>Si vous ne le connaissez vous pouvez laisser ce champs vide</span>
                    <input [(ngModel)]="telNumber" type="text" id="telNumber" name="telNumber" placeholder="Numéro de téléphone du centre..">
                    

                    <div class="form-group text-center">
                        <button (click)="submit()" mat-flat-button>Envoyer</button>
                    </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact-->
<section class="page-section" id="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="mt-0">Nous contacter</h2>
                <hr class="divider my-4" />
                <p class="text-muted mb-5">Vous avez des questions ou souhaitez collaborer ?</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 mr-auto text-center" style="margin: auto">
                <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
                <!-- Make sure to change the email address in BOTH the anchor text and the link target below!-->
                <a class="d-block" href="mailto:pmi@gazouyi.com">bonjour@pmi.gazouyi.com</a>
            </div>
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="bg-light py-5">
    <div class="container">
        <div class="small text-center text-muted">
            Copyright Victor D'herbemont - Gazouyi SAS <script>
                document.write(new Date().getFullYear());
            </script> 
            <br>
            Ce site est en licence ouverte et le code est disponible ici: <a href="https://github.com/victorherbemontagne/Open-PMI">accèder au code</a><br>
            <!-- This script automatically adds the current year to your website footer-->
            <!-- (credit: https://updateyourfooter.com/)-->
        </div>*
        <div class="text-center">
            <a href="https://www.laniss.fr/">
                <img style="width: 30%" src="https://www.laniss.fr/wp-content/uploads/2021/01/nouveau-logo-aniss.png">
            </a>
            <a href="https://gazouyi.com/#/">
                <img style="width: 30%" src="https://gazouyi-share-web.s3.eu-west-3.amazonaws.com/logo-transparent.png">
            </a>
        </div>
    </div>
</footer>
