
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Votre PMI</a>
        <button (click)="showMobileNav = !showMobileNav" class="mr-4 navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto my-2 my-lg-0">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">Carte des PMI</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contribute">Contribuer</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">Nous contacter</a></li>
            </ul>
        </div>
        <div class="mobileNav w-100" *ngIf="showMobileNav && bMobile">
            <ul>
                <li class="nav-item" ><a class="nav-link js-scroll-trigger" (click)="scroll('about')">Carte des PMI</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" (click)="scroll('contribute')">Contribuer</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" (click)="scroll('contact')">Nous contacter</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Masthead-->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold">Trouver le service de PMI le plus proche de vous</h1>
                <hr class="divider my-4" />
            </div>
            <div class="col-lg-8 align-self-baseline mb-3">
                <a class="btn btn-secondary btn-xl js-scroll-trigger" href="https://www.nos-services.com/pmi">C'est quoi la PMI ?</a>
            </div>

            <div class="search navbar navbar-expand-sm navbar-dark flex-column py-2 py-4">
                <div class="w-100"><h3  class="text-white mb-1">Trouver mon service de PMI</h3></div>
                <div class="text-center w-100"><p class="text-white">Entrez votre numéro de département</p></div>
                <div class="d-block d-sm-flex align-items-center">
                    <input [(ngModel)]="queryUser" class="my-0 mr-3" type="text" placeholder="exemple: 92">
                    <a class="btn btn-secondary btn-xl js-scroll-trigger mt-3 mt-sm-0" (click)="searchPMI()">Recherche </a>
                </div>

                <!-- <input type="text" placeholder="Pick one" aria-label="Number" [formControl]="myControl" autocomplete="on">
                <div *ngFor="let option of filteredOptions | async" [value]="option">{{option}}
                </div> -->

            </div>
        </div>
    </div>
</header>

<section class="page-section bg-light row m-0" id="about" *ngIf="queryProposed">
    <div class="col-10 col-md-11 mx-auto"><h4><b>{{resultQuery.length}}</b> Results for <i>{{queryUser}}</i></h4></div>
    <div class="col-10 col-md-11 mx-auto">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 p-3" *ngFor="let contact of resultQuery">
                <div class="py-3 px-4 h-100 w-100 d-flex flex-column pmiCard">
                    <h3>{{contact['Ville']}}</h3>
                    <div class="my-auto">
                        <table class="text-left my-2">
                            <tr>
                                <td valign="middle" class="contactIcon"><img src="assets/imgs/icon-location.svg" alt="Adresse"></td>
                                <td valign="middle"><p class="title mb-0">{{contact['Adresse']}}</p></td>
                            </tr>
                            <tr>
                                <td valign="middle" class="contactIcon"><img src="assets/imgs/icon-phone.svg" alt="Téléphone"></td>
                                <td valign="middle"><p class="mb-0">{{contact['Téléphone PMI']}}</p></td>
                            </tr>
                        </table>
                    </div>
                    <a class="btn btn-secondary my-3">Contact</a>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- About-->
<section class="page-section bg-primary" id="about">
    <div class="text-center align-self-end">
        <h1 class="text-uppercase font-weight-bold">Carte des PMI en France</h1>
        <p class="mb-0">Pour trouver votre PMI, zoomez sur la carte et cliquez sur les icones affichées</p>
        <p>Vous aurez alors accès à l'adresse et les coordonnées du centre de PMI selectionné</p>
        <hr class="dividerWhite my-4" />
    </div>
    <div class="container">
        <div class="map-responsive">
            <iframe src="https://www.google.com/maps/d/embed?mid=1Tk89ON7837zMZGoJsHIQbCOb87AzbKAX&hl=fr"></iframe>
        </div>
    </div>
</section>


<!-- Call to action-->
<section class="page-section bg-dark text-white" id="contribute">
    <div class="w-100 text-center mb-5"><h1 class="text-white text-uppercase m-0">Contribuer</h1></div>
    <hr class="divider my-5" />
    <div class="row pb-5">
        <div class="col-10 pr-0 mx-auto mx-md-0 col-md-5 pr-md-5 text-center text-md-right contributeIcon"><img class="mr-0 mr-md-5 mb-4" src="assets/imgs/coding.svg" alt="github"></div>
        <div class="col-10 mx-auto mx-md-0 col-md-5">
            <div class="text-center text-md-left">
                <h2 class="mb-4 text-primary">L'initiative Open PMI est<br>une initiative collaborative</h2>
                <h4 class="text-white">Si vous souhaitez aider à la construction de cette plateforme rendez-vous sur le répertoire ouvert</h4>
                <br>
                <a class="btn btn-light btn-xl" href="https://github.com/victorherbemontagne/Open-PMI">Contribuer à Open PMI</a>
            </div>
        </div>
    </div>
    <div class="row pt-4 pb-5">
        <div class="col-10 pr-0 mx-auto mx-md-0 col-md-5 pr-md-5 text-center text-md-right contributeIcon"><img class="mr-0 mr-md-5 mb-4" src="assets/imgs/edit.svg" alt="github"></div>
        <div class="col-10 mx-auto mx-md-0 col-md-5">
            <div class="text-center text-md-left">
                <h2 class="mt-0 text-primary">Vous souhaitez proposer<br>une modification ou un ajout<br>d'un centre de PMI</h2>
                <!-- <hr class="divider my-4" /> -->
                <br>
                <a class="btn btn-light btn-xl" *ngIf="!showForm" (click)="showForm = !showForm">Cliquez ici</a>
                <a class="btn btn-light btn-xl" *ngIf="showForm" (click)="showForm = !showForm">Cacher le formulaire</a>
            </div>
        </div>
    </div>
    <div class="container">
        <!-- <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="mt-0 text-primary">Vous souhaitez proposer<br>une modification ou un ajout<br>d'un centre de PMI</h2>

                <br>
                <a class="btn btn-light btn-xl" *ngIf="!showForm" (click)="showForm = !showForm">Cliquez ici</a>
                <a class="btn btn-light btn-xl" *ngIf="showForm" (click)="showForm = !showForm">Cacher le formulaire</a>
            </div>
        </div> -->
        <div class="row justify-content-center formulaire" *ngIf="showForm" >
            <div class="col mx-auto formContainer">
                <div class="w-100 text-center my-3">
                    <h2 class="text-white">Ajouter ou modifier<br>un centre PMI</h2>
                </div>

                    <label for="fname">Votre nom</label>
                    <input [(ngModel)]="nameUser" type="text" id="fname" name="firstname" placeholder="exemple: Jean DUPONT">

                    <label for="fname">Votre email</label>
                    <input [(ngModel)]="emailUser" type="email" id="fname" name="email" placeholder="exemple: jdupont@mail.fr">

                    <hr>

                    <div class="w-100 text-center">
                        <h2 class="text-primary">Le Centre de PMI</h2>
                    </div>
                    
                    <label for="fname">Département</label> <br>
                    <input [(ngModel)]="deptNumber" type="text" id="postal" name="deptNumber" placeholder="exemple: 92210">

                    <label for="fname">Adresse du centre</label><br>
                    <input [(ngModel)]="adress" type="text" id="adress" name="adress" placeholder="exemple: 27 rue de la Poste">

                    <label for="fname">Numéro de téléphone du centre  &nbsp; <span>(Obligatoire)</span></label><br>
                    <input [(ngModel)]="telNumber" type="text" id="telNumber" name="telNumber" placeholder="exemple: 00 00 00 00 00" required>
                    

                    <div class="form-group text-center mt-2">
                        <button class="btn btn-light btn-xl" (click)="submit()" mat-flat-button>Envoyer</button>
                    </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact-->
<section class="page-section" id="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h1 class="mt-0 text-uppercase">Nous contacter</h1>
                <hr class="divider my-4" />
                <p class="mb-2">Vous avez des questions ou souhaitez collaborer ?</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 mr-auto text-center" style="margin: auto">
                <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
                <!-- Make sure to change the email address in BOTH the anchor text and the link target below!-->
                <a class="d-block text-secondary" href="mailto:pmi@gazouyi.com">bonjour@pmi.gazouyi.com</a>
            </div>
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="bg-light">
    <div class="row py-4">
        <div class="col-12 text-center">
            <a href="https://www.laniss.fr/">
                <img style="width: 15vw; min-width: 100px; height: auto;" src="https://www.laniss.fr/wp-content/uploads/2021/01/nouveau-logo-aniss.png">
            </a>
        </div>
        <div class="col-12 text-center">
            <a href="https://gazouyi.com/#/">
                <img style="width: 15vw; min-width: 100px; height: auto;" src="https://gazouyi-share-web.s3.eu-west-3.amazonaws.com/logo-transparent.png">
            </a>
        </div>
        
         <!-- I added this if you wanted to add links at a later date. -->
        <!-- <div class="col-3 offset-1">
            <div class="row">
                <div class="col-12 text-left">
                    <a href="https://www.laniss.fr/">
                        <img style="width: 15vw" src="https://www.laniss.fr/wp-content/uploads/2021/01/nouveau-logo-aniss.png">
                    </a>
                </div>
                <div class="col-12 text-left">
                    <a href="https://gazouyi.com/#/">
                        <img style="width: 15vw" src="https://gazouyi-share-web.s3.eu-west-3.amazonaws.com/logo-transparent.png">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-3 offset-2">
            <h5>Title</h5>
            <p><a>Link 1</a></p>
            <p><a>Link 2</a></p>
            <p><a>Link 3</a></p>
        </div>
        <div class="col-3">
            <h5>Title</h5>
            <p><a>Link 1</a></p>
            <p><a>Link 2</a></p>
        </div> -->
    </div>
    <div class="row bottomFooter m-0 py-3" style="background-color: rgba(0,0,0,0.05);">
        <div class="col-12">
            <div class="text-center">
                <p class="mb-1">© Copyright Victor D'herbemont - Gazouyi SAS {{year}}</p>
                <p class="mb-0">Ce site est en licence ouverte et le code est disponible ici: <a href="https://github.com/victorherbemontagne/Open-PMI">accèder au code</a></p>
            </div>
        </div>
    </div>
</footer>
